@import './respon';
.about-cards{
    position: relative;
    .container-maincard{  
        top: -10px;
        position: absolute;
        .container-cards{
            position: absolute;
            flex-wrap: nowrap;
            .card-content{
                box-shadow: 0px 4px 24px #DCE1DAE6;
                padding: 0 20px;
                border-bottom: solid 8px #e0752f;
                margin: 0 12.5px;
                max-width: 250px;
                min-height: 264px;
                max-height: 265px;
                background-color: #fff;  
            }
            img{
                margin-top: 45px;
                padding-bottom: 30px;
                width: 60px;
                height: 90px;
            }
            p{
                font-weight: 600;
                font-size: 21px;
    
            }
        }
    }
    //DESKTOP
    @include respon(desktop){
        position: relative;
        .container-maincard{  
            top: -10px;
            position: absolute;
            .container-cards{
                position: absolute;
                flex-wrap: nowrap;
                .card-content{
                    box-shadow: 0px 4px 24px #DCE1DAE6;
                    padding: 0 20px;
                    border-bottom: solid 8px #e0752f;
                    margin: 0 12.5px;
                    max-width: 250px;
                    min-height: 264px;
                    max-height: 265px;
                    background-color: #fff;  
                }
                img{
                    margin-top: 45px;
                    padding-bottom: 30px;
                    width: 60px;
                    height: 90px;
                }
                p{
                    font-weight: 600;
                    font-size: 21px;
        
                }
            }
        }
    }
    //TABLET
    @include respon(tablet){
        position: relative;
        .container-maincard{  
            top: -10px;
            position: absolute;
            .container-cards{
                position: absolute;
                flex-wrap: nowrap;
                transition: 0.3s;
                .card-content{
                    box-shadow: 0px 4px 24px #DCE1DAE6;
                    padding: 0 15px;
                    border-bottom: solid 8px #e0752f;
                    margin: 0 10.5px;
                    max-width: 230px;
                    min-height: 244px;
                    max-height: 245px;
                    background-color: #fff;  
                    transition: 0.3s;
                }
                img{
                    margin-top: 40px;
                    padding-bottom: 25px;
                    width: 50px;
                    height: 90px;
                    transition: 0.3s;
                }
                p{
                    transition: 0.3s;
                    font-size: 17px;
                }
            }
        }
    }
    // //MOBILE
    @include respon(mobile){
        position: relative;
        .container-maincard{  
            top: -10px;
            position: relative;
            .container-cards{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                .card-content{
                    box-shadow: 0px 4px 24px #DCE1DAE6;
                    padding: 0 5px;
                    border-bottom: solid 8px #e0752f;
                    margin: 0 12.5px 50px 12.5px;
                    width: 550px;
                    height: 180px;
                    background-color: #fff;  
                }
                img{
                    margin-top: 0px;
                    padding-bottom: 20px;
                    width: 150px;
                    height: 90px;
                }
                p{
                    font-weight: 600;
                    font-size: 1rem;
                    margin: 0;
                }
            }
        }
    }
}
.about{
    .about-container{
        padding-top: 430px;
        padding-bottom: 200px;
        .about-content{
            border-left: #e0752f solid 30px;
            .container-content{
                h2{
                    letter-spacing: 0.55px;
                    color: #343434;
                    font-size: 40px;
                    line-height: 43px;
                    span{
                        color: #E0752F;
                    }
                }
                article{
                    margin-top: 45px;
                    font-size: 16px;
                    max-width: 770px;
                }
            }
        }
    }

    
        //DESKTOP
        @include respon(desktop){
            .about-container{
                padding-top: 430px;
                padding-bottom: 200px;
                .about-content{
                    border-left: #e0752f solid 30px;
                    .container-content{
                        margin: auto;
                        padding: 30px 0;
                        h2{
                            letter-spacing: 0.55px;
                            color: #343434;
                            font-size: 40px;
                            line-height: 43px;
                            span{
                                color: #E0752F;
                            }
                        }
                        article{
                            margin-top: 45px;
                            font-size: 16px;
                            max-width: 770px;
                        }
                    }
                }
            }
        }
        //TABLET
        @include respon(tablet){
            .about-container{
                padding-top: 370px;
                padding-bottom: 160px;
                transition: 0.3s;
                .about-content{
                    border-left: #e0752f solid 30px;
                    .container-content{
                        transition: 0.3s;
                        margin-right: auto;
                        h2{
                            letter-spacing: 0.50px;
                            color: #343434;
                            font-size: 35px;
                            line-height: 40px;
                            transition: 0.3s;
                            span{
                                color: #E0752F;
                            }
                        }
                        article{
                            transition: 0.3s;
                            margin-top: 40px;
                            font-size: 14px;
                            max-width: 400px;
                        }
                    }
                }
            }
        }
        // //MOBILE
        @include respon(mobile){
            .about-container{
                padding-top: 50px;
                padding-bottom: 200px;
                transition: 0.3s;
                .about-content{
                    border-left: #e0752f solid 30px;
                    transition: 0.3s;
                    width: 100%;
                    .container-content{
                        transition: 0.3s;
                        padding: 20px 25px;
                        width: 100%;
                        h2{
                            letter-spacing: 0.50px;
                            color: #343434;
                            font-size: 30px;
                            line-height: 40px;
                            transition: 0.3s;
                            span{
                                color: #E0752F;
                                transition: 0.3s;
                            }
                        }
                        article{
                            margin-top: 35px;
                            font-size: 0.8rem;
                            max-width: 770px;
                            transition: 0.3s;

                        }
                    }
                }
            }
        }
}
    

