.product{
    height: 100vh;
    position: relative;
    margin: 0;
    .product-left{
        padding: 0;
    }
    .product-right{
        background-image: url(../img/image-1.png);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        height: 100%;
        padding: 0;
    }
    .container-product{
        position: absolute;
        top: 50%;  
        left: 30%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 400px;
    }
}