.services{
    position: relative;

    ////////////////////////////////////////////////////// CONTENT
    .container-services{  
        top: -10px;
        position: absolute;
        .container-cards{
            position: absolute;
            flex-wrap: nowrap;
            .card-service{
                box-shadow: 0px 4px 24px #DCE1DAE6;
                padding: 0 20px;
                border-bottom: solid 8px #e0752f;
                margin: 0 12.5px;
                max-width: 250px;
                min-height: 264px;
                max-height: 265px;
                background-color: #fff;
                
            }
            img{
                margin-top: 45px;
                padding-bottom: 30px;
                width: 60px;
                height: 90px;
            }
            p{
                font-weight: 600;
                font-size: 21px;
    
            }
        }
    }
    .services-content{
        border-left: #e0752f solid 30px;

        .container-content{
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 770px;
            h2{
                letter-spacing: 0.55px;
                color: #343434;
                font-size: 40px;
                line-height: 43px;
                span{
                    color: #E0752F;
                }
            }
            article{
                margin-top: 45px;
                font-size: 16px;
                max-width: 770px;
            }
        }
    }
    ////////////////////////////////////////////////////// CONTENT-IMG
    .content-img{
        background-color: #f2f4f1;
        position: relative; 
        height: 100vh;
        .bar-color{
            position: absolute;
            background-color: #343434;
            height: 100%;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .container-content-img{
            position: absolute;
            z-index: 2;
            height: 530px;
            max-height: 550px;
            background-image: url(../img/image-2.png);
            top: 50%;  
            left: 50%;
            transform: translate(-50%, -50%);
            .container-slider{
                position: absolute;
                background-color:#E0752F;
                width: 435px;
                height: 270px;
                z-index: 3;
                bottom: 0;
                right: 0;
            }
        }
    }
}