.services{
    background-color: #f2f4f1;
    position: relative; 
    height: 100vh;
        .bar-color{
            position: absolute;
            background-color:#dce1da;
            height: 100%;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .container-content-img{
            position: absolute;
            z-index: 2;
            height: 530px;
            max-height: 550px;
            background-image: url(../img/image-2.png);
            top: 50%;  
            left: 50%;
            transform: translate(-50%, -50%);
            .container-slider{
                position: absolute;
                background-color:#E0752F;
                width: 435px;
                height: 270px;
                z-index: 3;
                bottom: 0;
                right: 0;
                .glide{
                    padding: 50px 0 0 50px;
                    .control-slider{
                        position: absolute;
                        right: 40px;
                        bottom: -30px;
                        .button-slider, input[type="submit"], input[type="reset"]{
                            background-color: transparent;
                            background: none;
                            color: inherit;
                            border: none;
                            padding: 0;
                            font: inherit;
                            cursor: pointer;
                            outline: inherit;
                            &:active{
                                border: none;
                            }
                        }
                    }
                    .glide__track{
                        width: 100%;
                        
                        ul{

                            li{
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                flex-direction: column ;
                                color: white;
                                height: 100%;
                             
                                h3{
                                font-size: 14px;
                                padding: 0;
                                margin: 0;
                                }
                                h2{
                                    font-size: 31px;
                                    margin: 0 0 20px 0;
                                }
                                article{
                                    font-size: 14px;
                                    max-width: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    //DESKTOP
    @include respon(desktop){ 

    }
    //TABLET
    @include respon(tablet){ 

    }
    //MOBILE
    @include respon(mobile){ 
        
    }
}