@import './service.scss';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(/img/slide1-background.png) no-repeat 50% 50%;
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    padding: 0px 0px 0 100px;
    position: fixed;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    border-bottom: solid 1px #e0752f;
    background-color: #e0752f;
}


nav ul li {
    display: inline-block;
    padding: 4px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
nav ul li:hover {
    border-bottom: solid 2px #e0752f;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
a:hover {
    color: #fff;
}
@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;

    }

    nav.black ul {

    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}


