@import './service';
@import './navbar';
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(/img/slide1-background.png) no-repeat 50% 50%;
    background-size: cover;
}

nav.black ul {
    border-bottom: solid 1px #e0752f;
    background-color: #e0752f;
}